html {
  font-size: 100%;
}

body {
  color: gray;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.site-title {
  width: 100px;
  line-height: 1px;
  padding: 10px;
}

.section-title {
  display: inline-block;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  border-bottom: 1px solid gray;
}

.contetnt-title {
  font-size: 1rem;
  margin: 10px;
}

.wrapper {
  max-width: 960px;
  margin: 0;
  padding: 0 4%;
  margin: 0 auto 100px auto;
  text-align: center;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
}
#header ul {
  display: flex;
  padding: 10px 0;
}

#header li {
  margin-left: 50px;
}

#header li a {
  color: black;
}

#header li a:hover {
  color: gray;
}

#mainvisual {
  margin-bottom: 50px;
}

#mainvisual img {
  width: 100%;
  max-width: 1920px;
  height: 600px;
  object-fit:scale-down;
}

#about .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about img {
  width: 120px;
  height: 150px;
  border-radius: 50%;
  margin-right: 30px;
}

#about .text {
  text-align: left;
}

#Hobby ul {
  display: flex;
  justify-content: space-between;
}

#Hobby li {
  width: 30%;
}

#footer {
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}